# dépendances
**/node_modules/

# secrets
**/.env
**/.env.local

# build frontend
**/dist/

# divers
.DS_Store

# fichiers perso non liés au code
Outlook-gubavjo1.png
mobelitelogo.jpeg
taskflow-recap-complet.md
usecase 3.png
